﻿@using WeatherStationDemo_CloudApp.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login Page";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NXP IoT &mdash; Weather station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RapidIoT - Weather Station demonstrator" />
    <meta name="keywords" content="nxp, rapidiot, weatherstation" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/style.css">
    

    <!-- Modernizr JS -->
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="gtco-loader"></div>
    <div id="page">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><font color="#fff">Rapid IoT</font><em></em></div>
                    </div>
                    <div class="col-sm-8 text-right menu-1">
                        <ul>
                            <li class="btn-cta"><a href="https://www.nxp.com/support/developer-resources/rapid-prototyping/nxp-rapid-iot-prototyping-kit:IOT-PROTOTYPING" target="_blank"><span>Buy now!</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(Content/backgroundbase.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-8 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">Developed by <a href="http://www.nxp.com" target="_blank">NXP SEMICONDUCTORS</a></span>
                                <h1 class="cursive-font">Weather Station Demo</h1>
                            </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">

                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <form action="#">
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(m => m.bleMACAddress)
                                                            @Html.TextBoxFor(m => m.bleMACAddress, new { @class = "form-control", placeholder = "Last 4 digits" })
                                                            @Html.ValidationMessageFor(m => m.bleMACAddress, "", new { @class = "text-danger" })
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(m => m.SessionID)
                                                            @Html.TextBoxFor(m => m.SessionID, new { @class = "form-control", placeholder = "As displayed in app" })
                                                            @Html.ValidationMessageFor(m => m.SessionID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        }
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/Scripts/jquery.countTo.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/magnific-popup-options.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <!-- Main -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>