﻿@using WeatherStationDemo_CloudApp.ViewModels
@model FileFormatModel

@{
    ViewBag.Title = "Main";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NXP IoT &mdash; Weather station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RapidIoT - Weather Station demonstrator" />
    <meta name="keywords" content="nxp, rapidiot, weatherstation" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Modernizr JS -->
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>

    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #chart_container {
            width: 470px;
            height: 450px;
            border: 1px solid #ffffff;
            padding: 15px;
            padding-bottom: 25px;
            border-radius: 4px;
            background-color: #f8f8F8
        }
    </style>
    <style>
        #separation_container {
            width: 10px;
            height: 435px;
            border: 1px solid #ffffff;
            padding: 1px;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="gtco-loader"></div>

    <div id="page">
        <nav class="gtco-nav" role="navigation" style="background-image: url(Content/img_bg_black.jpg)" data-stellar-background-ratio="0.5">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><font color="#fff">Rapid IoT</font><em></em></div>
                    </div>
                    <div class="col-sm-8 text-right menu-1">
                        <ul>
                            <li class="btn-cta"><a href="https://www.nxp.com/support/developer-resources/rapid-prototyping/nxp-rapid-iot-prototyping-kit:IOT-PROTOTYPING" target="_blank"><span>Buy now!</span></a></li>
                            <li class="btn-cta"><a href="@Url.Action("Logout", "DataDisplay")"><span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(Content/img_bg_black.jpg)" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-center">
                        <div class="row row-mt-15em">
                            <div class="col-md-2 justify-content-left">
                                <h6><font color="white">Session ID: @ViewBag.SessionID</font></h6>
                                <h6> <font color="white" class ="wsdMarginAlignText">MAC Address: @ViewBag.MACAddress</font></h6>
                            </div>
                            <div class="col-md-3 offset-7 wsd-table">
                                <div class="wsd-cb-frame">
                                    <label>
                                        <input type="checkbox" class="cb_temp"
                                               name="cb_temp" onclick="showMe('chart_container_temp')" />
                                        <font color="white">
                                            Display Temperature Graph
                                        </font>
                                    </label>

                                    <label>
                                        <input type="checkbox" class="cb_humid" name="cb_humid"
                                               onclick="showMe('chart_container_humid')">
                                        <font color="white">
                                            Display Humidity Graph
                                        </font>
                                    </label>

                                    <label>
                                        <input type="checkbox" class="cb_press"
                                               name="cb_press" style="color:#fff"
                                               onclick="showMe('chart_container_press')">
                                        <font color="white">
                                            Display Air Pressure Graph
                                        </font>
                                    </label>

                                    <label>
                                        <input type="checkbox" class="cb_light" name="cb_light"
                                               onclick="showMe('chart_container_light')">
                                        <font color="white">
                                            Display Ambient Light Graph
                                        </font>
                                    </label>

                                </div>
                            </div>
                        </div>

                        <div class="wsdchartRowA row row-mt-13em">
                            <div class="col-md-6" id="chart_container_temp">
                                <div id="chart_container" class="wsd-chartrow">
                                    <h5>Temperature</h5>
                                    <div id="temperatureChartGC" style="width: 463px; height: 432px"></div>
                                </div>
                                
                            </div>

                            <div class="col-md-6" id="chart_container_humid">
                                <div id="chart_container">
                                    <h5>Humidity</h5>
                                    <div id="humidityChartGC" style="width: 463px; height: 432px"></div>
                                </div>
                            </div>

                        </div>

                        <div class="wsdchartRowB row row-mt-15em">
                            <div class="col-md-6" id="chart_container_press">
                                <div id="chart_container">
                                    <h5>Air Pressure</h5>
                                    <div id="pressureChartGC" style="width: 463px; height: 432px"></div>
                                </div>
                            </div>

                            <div class="col-md-6" id="chart_container_light">
                                <div id="chart_container">
                                    <h5>Ambient Light</h5>
                                    <div id="lightChartGC" style="width: 463px; height: 432px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="wsdchartRowD row row-mt-10em">
                            <div class="wsd-cb-frame wsdMarginLeft col-5">
                                <div class="row">
                                    <h5 class="wsdMarginLeft"><font color="white">Graphs options</font></h5>
                                </div>
                                <div class="row">

                                    <div class="wsdchartRowE row">
                                        <label><font color="white">Select temperature unit: </font></label>
                                        <div class="col-3">
                                            <select class="wsd-form-control" id="temperatureformat">
                                                <option value="Celsius">Celsius</option>
                                                <option value="Fahrenheit">Fahrenheit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="wsdchartRowE row">
                                        <label><font color="white">Select timescale unit: </font></label>
                                        <div class="col-3">
                                            <select class="wsd-form-control wsdMarginLeft" id="timescale">
                                                <option value="Seconds">Seconds</option>
                                                <option value="Minutes">Minutes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="wsdchartRowF row">
                                        <fieldset>
                                            <div class="row-mt-5em">
                                                <input type="button" class="btn-export-refresh" value="Refresh" onclick="updateCharts()">
                                                <label class="wsdMarginLeft">
                                                    <input type="checkbox" class="cb_autorefresh" name="cb_autorefresh"
                                                           onclick="changeAutorefresh()">
                                                    <font color="white">
                                                        Autorefresh
                                                    </font>
                                                </label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wsdchartRowD2 row row-mt-10em">
                            <div class="wsd-cb-frame wsdMarginLeft wsdMarginBottom col-5">
                                <div class="row">
                                    <h5 class="wsdMarginLeft"><font color="white">Export options</font></h5>
                                </div>
                                <div class="row">
                                    @using (Html.BeginForm("ExportData", "DataDisplay", FormMethod.Post, new { role = "form" }))
                                    {
                                        <div class="wsdchartRowE row">

                                            <label class="wsdMarginRight">
                                                <font color="white">File format: </font>
                                            </label>
                                            
                                                @Html.DropDownListFor(m => m.formats,
                                                                                    (IEnumerable<SelectListItem>)ViewBag.Formats,
                                                                                    new { @class = "wsd-form-control" })
                                        </div>
                                        <div class="wsdchartRowG row">
                                            <fieldset>
                                                <div class="row-mt-5em">
                                                    <input type="submit" class="btn-export-refresh" value="Export">
                                                </div>
                                            </fieldset>
                                        </div>
                                    }
                                    <br />


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <footer id="gtco-footer" role="contentinfo" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">

                    <div class="col-md-12 text-center copyright">
                        <p>
                            <small class="block">&copy; 2018 NXP Semiconductors. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://nxp.com/" target="_blank">NXP Semiconductors</a></small>
                        </p>
                    </div>

            </div>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/Scripts/jquery.countTo.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/magnific-popup-options.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <!-- Google Charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Main -->
    <script src="~/Scripts/main.js"></script>

    <script>
        
        var autorefresh = false;
        
        $(document).ready(function () {
            $('.cb_temp').attr('checked', true)
            $('.cb_humid').attr('checked', true)
            $('.cb_press').attr('checked', true)
            $('.cb_light').attr('checked', true)
            $('.cb_autorefresh').attr('checked', false)
            initChartsOptions();
            initCharts();
        });
        
        setInterval(function () {
            if (autorefresh) {
                updateCharts();
            }
        }, 10000)

        var timestampsArray = [];
        var InitialArray = [];
        var chartOptionsHumGC;
        var chartOptionsTempC;
        var chartOptionsTempF
        var chartOptionsPres;
        var chartOptionsLight;

        function initChartsOptions() {
            chartOptionsTempC = {
                titlePosition: 'none',
                width: 450,
                height: 400,
                series: {
                    0: { color: '#f9b500' }
                },
                chartArea: {
                    top: 20,
                    right: 30,
                    width: '78%',
                    height: '73%',
                    backgroundColor: {
                        stroke: '#CCC',
                        strokeWidth: 1
                    }
                },
                hAxis: {
                    title: 'Time',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: 'HH:mm:ss',
                    slantedText: true,
                    slantedTextAngle: 60,
                    minorGridlines: {
                        color: 'none'
                    }
                },
                vAxis: {
                    title: 'Temperature (ºC)',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: '#.##',
                    minorGridlines: {
                        color: 'none'
                    }
                },
                curveType: 'function',
                legend: { position: 'none' },
                backgroundColor: '#f8f8F8',
                pointSize: 5
            };

            chartOptionsTempF = {
                titlePosition: 'none',
                width: 450,
                height: 400,
                series: {
                    0: { color: '#f9b500' }
                },
                chartArea: {
                    top: 20,
                    right: 30,
                    width: '78%',
                    height: '73%',
                    backgroundColor: {
                        stroke: '#CCC',
                        strokeWidth: 1
                    }
                },
                hAxis: {
                    title: 'Time',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: 'HH:mm:ss',
                    slantedText: true,
                    slantedTextAngle: 60,
                    minorGridlines: {
                        color: 'none'
                    }
                },
                vAxis: {
                    title: 'Temperature (ºF)',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: '#.##',
                    minorGridlines: {
                        color: 'none'
                    }
                },
                curveType: 'function',
                legend: { position: 'none' },
                backgroundColor: '#f8f8F8',
                pointSize: 5
            };

            chartOptionsHumGC = {
                titlePosition: 'none',
                width: 450,
                height: 400,
                series: {
                    0: { color: '#7bb1db' }
                },
                chartArea: {
                    top: 20,
                    right: 30,
                    width: '78%',
                    height: '73%',
                    backgroundColor: {
                        stroke: '#CCC',
                        strokeWidth: 1
                    }
                },
                hAxis: {
                    title: 'Time',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: 'HH:mm:ss',
                    slantedText: true,
                    slantedTextAngle: 60,
                    minorGridlines: {
                        color: 'none'
                    }
                },
                vAxis: {
                    title: 'Humidity (%)',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: '#.##',
                    minorGridlines: {
                        color: 'none'
                    }
                },
                curveType: 'function',
                legend: { position: 'none' },
                backgroundColor: '#f8f8F8',
                pointSize: 5
            };

            chartOptionsPres = {
                titlePosition: 'none',
                width: 450,
                height: 400,
                series: {
                    0: { color: '#c9d200' }
                },
                chartArea: {
                    top: 20,
                    right: 30,
                    width: '78%',
                    height: '73%',
                    backgroundColor: {
                        stroke: '#CCC',
                        strokeWidth: 1
                    }
                },
                hAxis: {
                    title: 'Time',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: 'HH:mm:ss',
                    slantedText: true,
                    slantedTextAngle: 60,
                    minorGridlines: {
                        color: 'none'
                    }
                },
                vAxis: {
                    title: 'Pressure (HPas)',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: '#.##',
                    minorGridlines: {
                        color: 'none'
                    }
                },
                curveType: 'function',
                legend: { position: 'none' },
                backgroundColor: '#f8f8F8',
                pointSize: 5
            };

            chartOptionsLight = {
                titlePosition: 'none',
                width: 450,
                height: 400,
                series: {
                    0: { color: '#f9b500' }
                },
                chartArea: {
                    top: 20,
                    right: 30,
                    width: '78%',
                    height: '73%',
                    backgroundColor: {
                        stroke: '#CCC',
                        strokeWidth: 1
                    }
                },
                hAxis: {
                    title: 'Time',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: 'HH:mm:ss',
                    slantedText: true,
                    slantedTextAngle: 60,
                    minorGridlines: {
                        color: 'none'
                    }
                },
                vAxis: {
                    title: 'Light (lumens)',
                    titleTextStyle: {
                        fontName: 'Roboto',
                        fontSize: 14,
                        bold: false,
                        italic: false
                    },
                    format: '#.##',

                    minorGridlines: {
                        color: 'none'
                    }
                },
                curveType: 'function',
                legend: { position: 'none' },
                backgroundColor: '#f8f8F8',
                pointSize: 5
            };
        }

        function initCharts() {

            google.charts.load('current', { packages: ['corechart', 'line'] });
            google.charts.setOnLoadCallback(updateCharts);

            updateCharts();
        }


        function updateCharts() {

            var timeScale = document.getElementById("timescale");
            var tempScale = document.getElementById("temperatureformat");
            var data = {
                timescale: timeScale.value,
                tempscale: tempScale.value
            };

            $.ajax({
                type: "POST",
                url: "/DataDisplay/UpdateCharts",
                contentType: "application/json; charset=utf-8",
                updateTargetId: "UpdateCharts",
                async: true,
                dataType: "json",
                data: JSON.stringify(data),
                success: function (result) {

                    var timestampsArray = [];
                    var timestampsArrayOld = [];

                    result.TemperatureTimestampValues.forEach(function (element) {
                        var item = moment.unix(element);
                        timestampsArrayOld.push(item.format("HH:mm:ss"));
                        timestampsArray.push(element);
                    });

                    // Building temperature chart
                    var tempValuesArray = [];
                    result.TemperatureValues.forEach(function (element) {
                        tempValuesArray.push(element);
                    });

                    var dataTempChart = new google.visualization.DataTable();
                    dataTempChart.addColumn('datetime', 'Time');
                    dataTempChart.addColumn('number', 'Temperature');

                    var tickMarks = [];
                    for (i = 0; i < timestampsArray.length; i++) {
                        dataTempChart.addRow([new Date(timestampsArray[i] * 1000), tempValuesArray[i]]);
                        tickMarks.push(new Date(timestampsArray[i] * 1000));
                    }
                    
                    var temperatureChart = new google.visualization.LineChart(document.getElementById('temperatureChartGC'));

                    if (result.IsFahrenheit == true) {
                        temperatureChart.draw(dataTempChart, chartOptionsTempF);
                    }
                    else {
                        temperatureChart.draw(dataTempChart, chartOptionsTempC);
                    }
                   
                    
                    // Building humidity chart
                    var humidityValuesArray = [];
                    result.HumidityValues.forEach(function (element) {
                        humidityValuesArray.push(element);
                    });

                    var dataHumidityChartGC = new google.visualization.DataTable();
                    dataHumidityChartGC.addColumn('datetime', 'Time');
                    dataHumidityChartGC.addColumn('number', 'Humidity');

                    for (i = 0; i < timestampsArray.length; i++) {
                        dataHumidityChartGC.addRow([new Date(timestampsArray[i] * 1000), humidityValuesArray[i]]);
                    }
                    
                    var humidityChartGC = new google.visualization.LineChart(document.getElementById('humidityChartGC'));
                    humidityChartGC.draw(dataHumidityChartGC, chartOptionsHumGC);
                    
                    
                    // Building Pressure Chart
                    var pressureValuesArray = [];
                    result.PressureValues.forEach(function (element) {
                        pressureValuesArray.push(element);
                    });

                    var dataPressureChart = new google.visualization.DataTable();
                    dataPressureChart.addColumn('datetime', 'Time');
                    dataPressureChart.addColumn('number', 'Pressure');

                    for (i = 0; i < timestampsArray.length; i++) {
                        dataPressureChart.addRow([new Date(timestampsArray[i] * 1000), pressureValuesArray[i]]);
                    }
                    
                    var pressureChart = new google.visualization.LineChart(document.getElementById('pressureChartGC'));
                    pressureChart.draw(dataPressureChart, chartOptionsPres);

                    
                    // Building Light Chart
                    var lightValuesArray = [];
                    result.LightValues.forEach(function (element) {
                        lightValuesArray.push(element);
                    });

                    var dataLightChart = new google.visualization.DataTable();
                    dataLightChart.addColumn('datetime', 'Time');
                    dataLightChart.addColumn('number', 'Light');

                    for (i = 0; i < timestampsArray.length; i++) {
                        dataLightChart.addRow([new Date(timestampsArray[i] * 1000), lightValuesArray[i]]);
                    }

                    var lightChart = new google.visualization.LineChart(document.getElementById('lightChartGC'));
                    lightChart.draw(dataLightChart, chartOptionsLight);
                                                       
                },
                error: function OnErrorCall_(repo) { alert("Something has gone wrong loading the graphs, please try again!"); }
            });
        }

        function changeAutorefresh() {
            if ($('.cb_autorefresh').is(":checked")) {
                autorefresh = true;
            } else {
                autorefresh = false;
            }
        }

        function showMe(box) {
            switch (box) {
                case 'chart_container_temp':
                    if ($('.cb_temp').is(":checked"))
                        $('#chart_container_temp').css("visibility", "visible");
                    else
                        $('#chart_container_temp').css("visibility", "collapse");
                    break;
                case 'chart_container_humid':
                    if ($('.cb_humid').is(":checked"))
                        $('#chart_container_humid').css("visibility", "visible");
                    else
                        $('#chart_container_humid').css("visibility", "collapse");
                    break;
                case 'chart_container_press':
                    if ($('.cb_press').is(":checked"))
                        $('#chart_container_press').css("visibility", "visible");
                    else
                        $('#chart_container_press').css("visibility", "collapse");
                    break;
                case 'chart_container_light':
                    if ($('.cb_light').is(":checked"))
                        $('#chart_container_light').css("visibility", "visible");
                    else
                        $('#chart_container_light').css("visibility", "collapse");
                    break;
            }
        }

    </script>

</body>
</html>