﻿@*<!DOCTYPE html>
    <html>
    <head>
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NXP IoT &mdash; Weather station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="RapidIoT - Weather Station demonstrator" />
        <meta name="keywords" content="nxp, rapidiot, weatherstation" />
        <meta name="author" content="" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

        <!-- Animate.css -->
        <link rel="stylesheet" href="~/Content/animate.css">
        <!-- Themify Icons-->
        <link rel="stylesheet" href="~/Content/themify-icons.css">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="~/Content/bootstrap.css">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="~/Content/magnific-popup.css">
        <!-- Bootstrap DateTimePicker -->
        <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
        <!-- Owl Carousel  -->
        <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
        <!-- Theme style  -->
        <link rel="stylesheet" href="~/Content/style.css">
        <!-- Modernizr JS -->
        <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - NXP Semiconductors</p>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="~/Scripts/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="~/Scripts/jquery.waypoints.min.js"></script>
        <!-- Carousel -->
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <!-- countTo -->
        <script src="~/Scripts/jquery.countTo.js"></script>
        <!-- Stellar Parallax -->
        <script src="~/Scripts/jquery.stellar.min.js"></script>
        <!-- Magnific Popup -->
        <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
        <script src="~/Scripts/magnific-popup-options.js"></script>

        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

        <!-- Main -->
        <script src="~/Scripts/main.js"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
